.total {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: bold;

  display: flex;
  align-items: center;

  .highlight {
    color: #ffce69;
    margin-right: .5rem;
  }

  img {
    height: 3rem;
    margin-right: .5rem;
  }
}
