@import "./styles/theme";
@import "./styles/hamburger";
//@import "~node_modules/hamburgers/_sass/hamburgers";

//$hamburger-layer-width         : 10px !default;

$breakpoint: 76.8rem;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: black;
}

body {
  margin: 0;
  font-family: 'Open Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.4rem;
  //opacity: .6; // temp
}

a {
  color: white;
}

.page {
  width: 100%;
  min-height: 100vh;
  padding:6rem 1.5rem 1rem;
  color: white;
  max-width: 768px;
  margin: 0 auto;

  &::after {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .3;
  }

  &.summon::after {
    background-image: url('./assets/summoner-bg.png');
    opacity: .3;
  }

  &.about::after {
    background-image: url('./assets/about-bg.png');
    opacity: .3;
  }

  &.monthly::after {
    background-image: url('./assets/open-book.jpg');
    opacity: .6;
  }

  &.ld-shards::after {
    background-image: url('./assets/shards.png');
    opacity: .4;
  }

  &.aspen::after {
    background-image: url('./assets/aspen-bg.png');
    opacity: .6;
  }
}

.highlight {
  color: #99ceff;
}


select {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0;
  font-family: 'Open Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.6rem;
  color: white;

  border-color: transparent;
  //background-color: transparent;

  cursor: pointer;

  height: 3rem;

  padding-left: .5rem;
  background-color: rgba(white, 20%);

  &:hover {
    background-color: rgba(white, 30%);
    border-radius: .3rem;
  }


  option {
    padding: .2rem;
    margin: 0;
    color: black;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
